@import "tailwindcss";

:root {
  --primary: #f79f61;
  --primary-100: #f5f8ff;
  --secondary-orange: #f79f61;
  --light: rgba(59, 60, 152, 0.03);
  --light-100: rgba(59, 60, 152, 0.02);
  --gray: #747a88;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --color-secondary-orange: var(--secondary-orange);
  --color-light: var(--light);
  --color-light-100: var(--light-100);
  --color-gray: var(--grey);
}
